
*.odt#

.~lock.BeSiVa Abstract.odt#

Data/GSS_stata/GSS7214_R4.DTA

*.R#

*.pdf

*.sav

*.dta

*.zip

Data/GSS_stata/GSS7214_R5.csv

Data/datpres72kp.csv

Data/GSS_stata/vote12bindat.csv

Data/GSS_stata/datpres76kp.csv
